body{
  font-size: 16px;
}

.main{
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px;
  .list{
    width: 100%;
    background-color: #ebebeb;
    border: 1px solid #cfcfcf;
    .list_title{
      // height: .4rem;
      display: flex;
      padding: 10px;
      justify-content: space-between;
      font-size: .23rem;
      span:nth-child(1){
        line-height: .45rem;
      }
      span:nth-child(2){
        display: block;
        width: .3rem;
        height: .3rem;
        background-image: url("../images/icon_bar.png");
        background-size: 2.2rem 1.32rem;
        background-position: .44rem -.92rem;
      }
    }
    .list_main{
      width: 100%;
      // display: flex;
      // flex-wrap: wrap;
      display: none;
      // justify-content: space-around;
      a{
        float: left;
        display: block;
        width: 33.33%;
        text-align: center;
        font-size: .16rem;
        background-color: #f9f9f9;
        padding: 15px 0;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
}

