body {
  padding-top: 65px;
}

header {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f4483e;
}

.view .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view .list a {
  width: 31.33%;
  text-align: center;
  border: 1px solid #ccc;
  margin: 5px 1%;
  font-size: 14px;
  padding: 3px 0;
}

.view .list a img {
  width: 50%;
  margin: 0 auto;
}
