/*在这里写商品列表的样式*/


/*返回分类列表*/
.fanhui{
  position: relative;
  display: flex;
  height: .3rem;
  align-items: center;
 button{
   position: absolute;
   right: .2rem;
 }
}
/*内容*/
.content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .box{
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    // height: 1.2rem;
    display: flex;
    padding: .1rem;
    .left{
      width: 1rem;
      margin-right: .1rem;

    }
    .right{
      display: flex;
      flex-direction:column;
      justify-content: space-around;
      flex: 1;
      p{
        font-size: .17rem;

      }
      i{
        color: red;
        font-size: .18rem;
      }
      div span{
        color: gray;
      }
    }
  }

}
// 广告
.guanggao{
	opacity: 0;
	width: 100%;
	background-color: #fff;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	height: .5rem;
	padding: .1rem;
	justify-content: space-between;
	.glyphicon{
		// 	position: absolute;
    // left: .12rem;
    // bottom: .12rem;
		width: .17rem;
     height: .17rem;
		 font-weight: 100;
		 line-height: .17rem;
		 text-align: center;
		 border-radius: 50%;
		 color: #fff;
		 background-color: gray;
	}
	i{
		font-size: .3rem;
			position: absolute;
    left: .33rem;
    bottom: .12rem;
		width: .3rem;
		height: .3rem;
		border-radius: .05rem;
		color: #fff;
		background-color: orange;
			width:.37rem;
     height: .37rem;
		 margin: 0 .1rem;
		 line-height: .37rem;
		 text-align: center;
	}
	>div{
			position: absolute;
    left: 1rem;
    bottom: .12rem;
		font-size: .12rem;
		color: gray;
		    // font-size: 12px;
    // transform: translateX(-2.09rem);
	}
	em{
		// float: right;
			position: absolute;
    right: .12rem;
    bottom: .12rem;
		width: .6rem;
		height: .23rem;
		color: #fff;
		text-align: center;
		line-height: .23rem;
		font-size: .12rem;
		border-radius: .05rem;
		background-color: orange;
	}
}
footer{
	margin-bottom: .66rem;
}